h1 {
  color: orangered;
  text-shadow: 5px 5px orange;
}

#sombra {
  background-color: yellow;
}

#amarillo {
  color: green;
}

#verde {
  background-color: black;
  color: white;
}

#azul {
  color: blue;
}

#morado {
  text-shadow: 7px 7px cadetblue;
  font-size: 40px;
}
